<!DOCTYPE html>
<html>
<head>
<title>VERSION CONTROL SYSTEM</title>
<style>
form {
  color: red;
  text-align: center;
} 
</style>
</head>

<body>

<body style="margin:0;">
	<h1>Enter the source directory</h1>
	<br><br><br>

    <div id="main-container">
        <div id="left-container">
            <input id="search-user-field" placeholder="Enter Source Directory" oninput="startFilterSearch()"
                onclick="startFilterSearch()" onfocusout="endSearch()" type="search">
            <div id="users-container"></div>
            <div id=search-result-container></div>
        </div><br><br><br><br>
        <div id="right-container">
  

</body>
</html>