<!DOCTYPE html>
<html>
<head>
<title>VERSION CONTROL SYSTEM</title>
<style>
form {
  color: red;
  text-align: center;
} 
</style>
</head>

<body>

<body style="margin:0;">
	<h1>Enter the source directory</h1>
	<br><br><br>
    <input type="text" id="search-user-field" placeholder="Enter Source Directory" oninput="helloWorld()"
            onclick="helloWorld()" type="text">

</body>

<script src="/Users/prateechisingh/base-website/views/search.js">
// <script>
// const request = require('request').defaults({baseUrl: '127.0.0.3001/', json:true})
// function searchDirectory(){
//     request.post(
//         '/create',
//         {
//             body: {
//                 sourceDirectory: document.getElementByID('search-user-field')

//             }
//         }, 
//         (err, res, body)=> {
//             if(!err){
//                 if(res.statusCode===201){
//                     window.prompt("Works","Works");
//                                     }
//                 else{
//                     window.prompt("ErrorError","ErrorError");
//                 }
//             }
//         }

//         )
// }




</script>
</html>